{% extends "base.html" %}

{% block content %}

<h1 class="text-3xl font-bold mb-8">
Dashboard
</h1>

<div class="grid md:grid-cols-3 gap-6">

<div class="bg-white p-6 rounded-xl shadow">
<h2 class="font-semibold">Usuarios</h2>
<p class="text-3xl mt-2">120</p>
</div>

<div class="bg-white p-6 rounded-xl shadow">
<h2 class="font-semibold">Ventas</h2>
<p class="text-3xl mt-2">$530</p>
</div>

<div class="bg-white p-6 rounded-xl shadow">
<h2 class="font-semibold">Visitas</h2>
<p class="text-3xl mt-2">1240</p>
</div>

</div>

{% endblock %}